

nav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;


}


ul li a {
  font-family: 'Josefin Slab', sans-serif;
  font-size: 26px;
  padding: 5px 20px;

}

a {
  text-decoration: none;
  color: inherit;
}


.active {
  font-weight: bold;
}

