<div class="row justify-content-around animated slideInDown mt-5">
  <div class="col-4 lineOne">
  </div>
  <span class="title">CONTACT</span>
  <div class="col-4 lineTwo"></div>
</div>

<div class="row">
  <div class="col-sm-12 contact text-center"><a href="https://www.linkedin.com/in/domna-kanari/" target="_blank"><i
    class="fa fa-linkedin fa-5x" aria-hidden="true"></i></a></div>

</div>
<div class="row">
  <div class="col-sm-12 contact git text-center"><a href="https://github.com/domikani" target="_blank"><i
    class="fa fa-github fa-5x"
    aria-hidden="true"></i></a>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 contact text-center"><i class="fa fa-envelope fa-2x"
                                                aria-hidden="true"><span class="mail"> domnakanari@gmail.com</span></i>
  </div>
</div>
