.lineOne, .lineTwo {
  border-bottom: 1px solid black;
}


.title {
  font-family: 'Josefin Slab', sans-serif;
  font-size: 64px;
  position: relative;
  bottom: -50px;
}

.contact {
  margin-top: 100px;
}

a i.fa.fa-github.fa {
  color: black;
}

.mail {
  font-size: 1.8rem;
}
