.title {
  font-family: 'Josefin Slab', sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.video {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

a {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 20px;
}

a:hover {
  color: white;
  text-align: center;

}

