img {
  width: 30%;
}

.lineOne, .lineTwo {
  border-bottom: 1px solid black;
}


.title {
  font-family: 'Josefin Slab', sans-serif;
  font-size: 64px;
  position: relative;
  bottom: -50px;
}

.paragraph {
  font-size: 1.5rem;
  font-family: 'Josefin Slab', sans-serif;
  padding-top: 100px;

}
