<div class="row">
  <div class="col-12 text text-center logo">
    <img src="../../../assets/images/logo.png" alt="logo">
    <img src="../../../assets/images/logo2.png" alt="logo">
    <img src="../../../assets/images/logo3.png" alt="logo">
  </div>
</div>

<div class="row justify-content-around mt-5">
  <div class="col-4 lineOne p-0">

  </div>

  <span class="title">About Me</span>

  <div class="col-4 lineTwo">

  </div>
</div>

<div class="row">
  <div class="col-4 offset-4 text-justify  paragraph">
    <p>
      Hi! I am Domna, I am a geospatial engineer and I like to explore the world, the cities and the people’s movement
      through cartography, spatial analysis, and coding!
      <br>
      <br>
      I hold an Integrated Master in Spatial Planning and Development Engineering from the Aristotle University
      of Thessaloniki and in a couple of months I will hold a Master of Science in GIS through Lund University, Sweden.
      <br>
      <br>
      In 2019 I decided to enroll in a one-year specialization program in Modern Computer Applications and I realized
      that wonderful things could happen combining GIS and modern web technologies!
      <br>
      <br>
      This is my portfolio which includes web-GIS applications, cartography, and spatial analysis projects!
    </p>
  </div>
</div>
