<div class="row justify-content-around animated slideInDown mt-5">
  <div class="col-4 lineOne">

  </div>

  <span class="title">PROJECTS</span>

  <div class="col-4 lineTwo">

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="card-deck">
      <div class="col-md-4 card-deck text-center" style="margin-top: 100px" *ngFor="let pr of projects">
        <div class="card">
          <div class="card-image">
            <img class="card-img-top " src="../../../assets/images/project.jpg" alt="project">
            <div class="image-overlay">
              <br>Date: {{pr.date}}
              <br>Category: {{pr.category}}
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{pr.title}}</h5>
            <p class="card-text">{{pr.description}}</p>
          </div>
          <div class="card-footer">
            <a [routerLink]="'/project/' + pr.id" target="_blank" class="btn btn-outline-dark">Explore</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

