.lineOne, .lineTwo {
  border-bottom: 1px solid black;
}

.card {
  font-family: 'Josefin Slab', sans-serif;
}

.card-title {
  font-weight: bold;
  text-align: center;
}

.card-body {
  text-align: justify;
}

.card-footer a {
  font-weight: bolder;
}


.card-image {
  position: relative;
}

.title {
  font-family: 'Josefin Slab', sans-serif;
  font-size: 64px;
  position: relative;
  bottom: -50px;
}

.image-overlay {
  color: black;
  font-weight: bolder;
  background-color: rgba(252, 252, 252, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  font-family: 'Josefin Slab', sans-serif;
  transition: .5s ease;
}

.card:hover .image-overlay {
  opacity: 1;
}



